/*? Custom Style */

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.image-grayscale {
    filter: grayscale(1);
}

.img-bg-call2action {
    background-image: linear-gradient(to bottom, rgba(13, 110, 253, 0.8), rgba(13, 110, 253, 0.5)), url('https://picsum.photos/1840/628');
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    object-fit:cover;
}